:root {
--primary: #000000;
--bg: rgb(235, 235, 235);
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
border: none;
text-decoration: none;
-webkit-tap-highlight-color: transparent;
}

html {
scroll-behavior: smooth;
}

body {
font-family: "Poppins", sans-serif;
background-color: var(--bg);
color: #000000;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    background-image: url('img/berita0.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(195, 195, 195);
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
}

.home .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home .content h1 {
    text-align: center;
    font-size: 5em;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 50px;
    border-color: rgb(0, 100, 255);
    border-style: solid;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.home .content h2 {
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.home .content h1 span {
    color: rgb(0, 100, 255);
}

.home .content h2 span {
    color: rgb(0, 100, 255);
}

.home .button {
    margin-top: 15px;
    padding: 6px 36px;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    cursor: pointer;
    background-color: #ffffff;
    border-style: solid;
    border-color: #000000;
    border-radius: 50px;
}

/*.form {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    background-image: url('img/pens.png');
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
}

.form h2 {
    color: #ffffff;
    line-height: 1.2;
}

.form h2 span {
    color: rgb(255, 255, 255)
}

.button:hover {
    background-color: #ffffff;
    color:rgb(0, 0, 0);
}

.button:active {
    background-color: #ffffff;
    border-style: none;
    color:rgb(0, 0, 0);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr {
    background-color: #f2f2f2;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button[type="submit"] {
    background-color: #adadad;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}*/